<div>
    <h1>Productos en tu carrito</h1>
    <h2>Total de productos: {{products.length}}</h2>
    {{#each products}}
        <h3>Producto:</h3>
        <div>
            <p>Product id: {{this._id}}</p>
            <p>Name: {{this.title}}</p>
            <p>Category: {{this.category}}</p>
            <p>Description: {{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Quantity: {{this.quantity}}</p>
        </div>
    {{/each}}
</div>