<div>
    <h1>Bienvenido!:</h1>
    <h2>Usuario logueado con éxito</h2>
    <div>
        <p>Nombre: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Rol: {{user.rol}}</p>
    </div>
    <button id="logout">Cerrar sesión</button>

    <h2>Lista de productos:</h2>
    <h3>Total de productos: {{products.length}}</h3>
    {{#each products}}
        <h3>Producto:</h3>
        <div>
            <p>Product id: {{this._id}}</p>
            <p>Name: {{this.title}}</p>
            <p>Category: {{this.category}}</p>
            <p>Description: {{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Status: {{this.status}}</p>
            {{#if status}}
                <button id="button__addToCart--{{this._id}}" class="button__addToCart">Add to Cart</button>
            {{/if}}
        </div>
    {{/each}}

    {{#if hasPrevPage}}
        <h4>Página:</h4>
        <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
        <h4>Página:</h4>
        <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</div>
<script src="/js/logout.js"></script>